@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Montserrat';
  src: url('../src/fonts/Medium/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../src/fonts/Medium/Montserrat-Medium.eot') format('embedded-opentype'),
    url('../src/fonts/Medium/Montserrat-Medium.woff2') format('woff2'),
    url('../src/fonts/Medium/Montserrat-Medium.woff') format('woff'),
    url('../src/fonts/Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../src/fonts/SemiBold/Montserrat-SemiBold.eot');
  src: local('Montserrat Medium'), local('Montserrat-SemiBold'),
    url('../src/fonts/SemiBold/Montserrat-SemiBold.eot')
      format('embedded-opentype'),
    url('../src/fonts/SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
    url('../src/fonts/SemiBold/Montserrat-SemiBold.woff') format('woff'),
    url('../src/fonts/SemiBold/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
  width: 280px;
  background-color: transparent;
  font-weight: 600;
  transition: background-color 250ms linear;
}

.navBtn:hover {
  background-color: #5cd3a8;
}

.homeText,
.errorMassege {
  margin-top: 150px;
  font-size: 40px;
  text-align: center;
}

.loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading__container__reviews_cast {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.loadMoreBtn {
  margin: 0 auto;
  width: 380px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 250ms linear;
}

.loadMoreBtn:hover {
  background-color: #5cd3a8;
}
